<div class="main">
    <h2>Agrega una nueva tarea</h2>
    <form action="#">
    
      <label for="concept">Concepto</label>
      <select class="form-control" name="description" id="">
        <option value="0">concepto 1</option>
      </select>
      
    
      <label for="description">Descripción</label>
      <input class="form-control" type="text" name="description">
    
      <label for="date">Fecha a realizar</label>
      <input class="form-control" type="date" name="date">
    
      <input class="btn button" type="submit" value="Crear tarea">
    
    </form>
    
    
</div>

