<section>
    <h1>
        Instrucciones
      </h1>
      
      <ul>
        <li class="instruction-preview" *ngFor="let instruction of instructions; index as i">
          <a [routerLink]="['/instrucciones', i ]">
            <header>
              <h3 class="concept">
                {{ instruction.concept_object?.name }}
              </h3>
              <h4 class="date">
                {{ instruction.date | dateText }}
              </h4>
            </header>
            <footer class="location">
              <h6>
                {{ instruction.concept_object?.location_object?.name }}
              </h6>
            </footer>
          </a>
        </li>
      </ul>
      
</section>