<h1>
  Instrucciones
</h1>

<ul>
  <li>
    <a [routerLink]="['/instrucciones',0]">
      <header>
        <div class="concept">
          Nombre de Concepto
        </div>
        <div class="date">
          1/1/18
        </div>
      </header>

      <div class="description">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni laborum repellat vitae, excepturi eaque fuga officiis aperiam
          alias error nobis!
        </p>
      </div>

    </a>
  </li>
</ul>
