<header>
  <div class="date">
      {{ instruction.date | dateText}}
  </div>

  <div class="concept">
      
      <div class="concept-name">
        {{instruction.concept_object?.name}}
      </div>

      <div class="address">
        {{instruction.concept_object?.location_object?.address}}
      </div>
  
  </div>
</header>

<p class="description">
  {{instruction.description}}
</p>

<div class="map">
  <agm-map
  [latitude]="instruction.concept_object?.location_object?.latitude"
  [longitude]="instruction.concept_object?.location_object?.longitude"
  [zoom]="15"
  >
    <agm-marker
    [latitude]="instruction.concept_object?.location_object?.latitude"
    [longitude]="instruction.concept_object?.location_object?.longitude"
    ></agm-marker>
  </agm-map>
</div>