/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
}
app-root{
    width: 100%;
}
a{
    text-decoration: none;
}
