<header>
  <nav>
    <ul>
      <li (click)="changeState(0)">Estado 1</li>
      <li (click)="changeState(1)">Estado 2</li>
      <li (click)="changeState(2)">Estado 3</li>
      <li (click)="changeState(3)">Estado 4</li>
      <li (click)="changeState(4)">Estado 5</li>
      <li (click)="changeState(5)">Estado 6</li>
      <li (click)="changeState(6)">Estado 7</li>
    </ul>
  </nav>
</header>


<section>

  <ng-container [ngSwitch]="currentState">
    
    <section *ngSwitchCase="0">
      state: RECORD_INFO

      <header>

        <div class="concept-info">
          <h3>
            {{instruction.concept_object?.name}}            
          </h3>
          <p class="address">
            {{instruction.concept_object?.location_object?.address}}                        
          </p>
        </div>

      </header>

      <button (click)="finishForm()">
        Terminar Formulario
      </button>
    </section>

    <section *ngSwitchCase="1">
      state: CREATE_PHOTO
     

      <webcam [height]="300" [width]="300"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      ></webcam>
      <!-- *ngIf="showWebcam" -->
      <!-- [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" -->
      <!-- [videoOptions]="videoOptions" -->
      <!-- (initError)="handleInitError($event)" -->
      <!-- (cameraSwitched)="cameraWasSwitched($event)" -->
      <br/>
      <button class="actionBtn" (click)="triggerSnapshot();">Tomar Foto</button>

      <div class="webcam-image" *ngIf="!!uploadedImage">
        <img src="{{uploadedImage}}" alt="" width="200" height="200">
      </div>
      
      <photo-upload></photo-upload>

    </section>

    <section *ngSwitchCase="2">
      state: REVIEW_PHOTO
    </section>

    <section *ngSwitchCase="3">
      state: REVIEW_RECORD
    </section>

    <section *ngSwitchCase="4">
      state: CHOOSE_RECIPIENTS
    </section>

    <section *ngSwitchCase="5">
      state: ADD_EMAILS
    </section>

    <section *ngSwitchCase="6">
      state: CONFIRM_SEND
    </section>
    
  </ng-container>


</section>


