
.main{
    padding: 8%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.circles{
    display: flex;
    margin-bottom: 3%;
    width: 100%;
    justify-content: center;
    /* list-style: none; */
}
.circles > div{
    background: #757575;
    margin: 2%;
    width: 20px;
    height: 20px;
    /* content: " "; */
    border-radius: 50px;

}
.circles > div.active{
    background: green;
}

button{
    background: #607D8B;
    color: white;
    float: right;
}
#cantidad, #location{
    margin-bottom: 2%; 
}

.btn-container{
    display: flex;
    justify-content: space-between;
}
@media(min-width:790px){
    .circles{
        width: 200px;
    }
}

.email_recipients label {
    width: 70%;
    /* float: left; */
}

.add_email_form button {
    margin-top: 2rem;
}

.email_recipients label input {
    width: 100%;
}


.users li, .extra_emails li {
    list-style: none;
    font-size: 13px;
    margin-bottom: 1rem;
}


.send_success {
    text-align: center;
}