<div class="main">
  
          <div class="circles">
            <div id="0" (click)="changeState(0)"></div>
            <div id="1" (click)="changeState(1)"></div>
            <div id="2" (click)="changeState(2)"></div>
            <div id="3" (click)="changeState(3)"></div>
        
          </div>

      
      
      <section>
      
        <ng-container [ngSwitch]="currentState">
          
          <section *ngSwitchCase="0">
      
            <header>
      
              <div class="concept-info">
                <h3>
                  {{instruction.concept_object?.name}}            
                </h3>
                <p class="address">
                  {{instruction.concept_object?.location_object?.address}}                        
                </p>
              </div>
      
            </header>
      
          
      

              <!-- <label for="date">Cantidad de Elementos</label> -->
              <input class="form-control" type="text" name="" id="cantidad" placeholder="Cantidad" value="">

            <!-- <label for="location">Ubicacion</label> -->
            <input type="text" class="form-control" name="" placeholder="Ubicación" id="location">
      
            <button class="btn btn-lg" (click)="changeState(1) " >
              Siguiente
            </button>
          </section>
      
          <section *ngSwitchCase="1">
           
      
            <webcam [height]="300" [width]="300"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            ></webcam>
            <!-- *ngIf="showWebcam" -->
            <!-- [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" -->
            <!-- [videoOptions]="videoOptions" -->
            <!-- (initError)="handleInitError($event)" -->
            <!-- (cameraSwitched)="cameraWasSwitched($event)" -->
            <br/>
            <button class="btn btn-lg actionBtn" (click)="triggerSnapshot(); changeState(2)">Tomar Foto</button>
      
            <!-- <photo-upload></photo-upload> -->
            
          </section>
      
          <section *ngSwitchCase="2">
                  <div class="webcam-image" *ngIf="!!uploadedImage">
                    <img src="{{uploadedImage}}" alt="" width="200" height="200">
                  </div>
                  <div class="btn-container">

                    <button class="btn btn-lga ctionBtn" (click)="changeState(1)">regresar</button>
                    <button class="btn btn-lga ctionBtn" (click)="changeState(3)">continuar</button>
                  </div>
          </section>
      
          <section *ngSwitchCase="3">
            <h3>
              {{instruction.concept_object?.name}}            
            </h3>
            <p class="address">
              {{instruction.concept_object?.location_object?.address}}                        
            </p>
            <p class="quantity">
              <!-- {{instruction.concept_object?.location_object?.address}}                         -->
              Cantidad:1
            </p>
            <p class="location">
              <!-- {{instruction.concept_object?.location_object?.address}}                         -->
              Lugar: Soriana división del norte
            </p>
            
      
            <button class="btn btn-lg actionBtn" (click)="changeState(4)">continuar</button>
          </section>
      
          <section *ngSwitchCase="4">
            <label>
              <span>
                Agrega un correo
              </span>
              <input #newEmail name="" type="text">
            </label>

            <button class="btn btn-sm" (click)="addEmail(newEmail)">Agregar</button>


            <ul class="users">
              <li *ngFor="let user of users;">
                <div class="name">
                  {{user.first_name}} {{user.last_name}} 
                </div>
                <div class="email">
                  {{user.email}}
                </div>                
              </li>
            </ul>

            <h4>
              Correos adicionales
            </h4>

            <ul class="extra_emails">
              <li *ngFor="let email of extra_emails;">
                <div class="email">
                  {{email}}
                </div>                
              </li>
            </ul>


            <button class="btn btn-lg btn-success " (click)="finishForm()">
              Enviar
            </button>
          </section>
      
          <section *ngSwitchCase="5">

            <p>El registro se ha creado satisfactoriamente.</p>

            <!-- <button class="btn btn-lga ctionBtn" (click)="changeState(3)">terminar</button> -->
          </section>
          
        </ng-container>
      
      
      </section>
      
      
      
</div>